In [47]:
 def f1():
  global x
  x="Shreyas"
  print("My name is",x)
f1()
x=1
print(x)
print(type(x))
print(complex(x))
Name="Shreyas"
Surname="Dhumal"
print(Name+" "+Surname)
a=2.3
b=3.3
c=3J
# a convert into the integer
print(int(a)) 
# b convet into the complex
print(complex(b))

Name=input()
Age=input()
Class=input()
Clg=input()
"My Name is {} , Im {} years old ,studying in class{} and in clg{}".format(Name,Age,Class,Clg)

My name is Shreyas
1
<class 'int'>
(1+0j)
Shreyas Dhumal
2
(3.3+0j)
Shreyas
21
TYBsc
Spc

'My name is () , Im () years old ,studying in class() and in clg()'

In [49]:

Name=input()
Age=input()
Class=input()
Clg=input()
"My Name is {} , Im {} years old ,studying in class{} and in clg{}".format(Name,Age,Class,Clg)

shreyash
21
ty
sp

'My Name is shreyash , Im 21 years old ,studying in classty and in clgsp'